{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecurityOps Center</title>

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <nav>
        <h1>🛡️ SecurityOps</h1>

        <a href="{% url 'home' %}">Dashboard</a>
        <a href="{% url 'incidente' %}">Incidentes</a>
        <a href="{% url 'cursos' %}">Cursos</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer style="text-align:center; padding:20px; color:white;">
    © 2026 SecurityOps Center • Segurança da Informação
</footer>

</body>
</html>